{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
.button{
	width: 200;
	background: none;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 10px;
  	margin-left: 0px;
  	transition-duration: 0.4s;
  	cursor: pointer;
}

.update{
	color: black; 
	border: 2px solid #008CBA;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	transition-duration: 0.4s;
  	cursor: pointer;
  	position: relative;
}

.update:hover{
	background-color: #008CBA;
	color: white;
}

.logout{
	color: black; 
	border: 2px solid #f44336;
}

.logout:hover{
	background-color: #f44336;
	color: white;
}
</style>
	<div class="content-section">
	  <div class="media">
			<img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
			<div class="media-body">
			  <h2 class="account-heading">{{ user.username }}</h2>
			  <p class="text-secondary">{{ user.email }}</p>
			</div>
		</div>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Profile Info</legend>
				{{ u_form | crispy }}
				{{ p_form | crispy }}
			</fieldset>
			<div class="form-group">
				<button class="button update" type="submit">Update</button>
			</div>
		</form>
		<form method="post" action="{% url 'logout' %}">
					{% csrf_token %}
					<button class="button logout" type="submit">Logout</button>
				</form>
	</div>
{% endblock content %}