{% block content %}
<style>
  /* CSS styles from the edit closet template */
  .edit-closet-container {
    max-width: 400px;
    margin: 30px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  h1 {
    color: #4A4A4A;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }

  form input[type='text'],
  form input[type='checkbox'] {
    padding: 12px;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  form input[type='text'] {
    height: 45px;
    border: 2px solid #3498db;
  }

  form input[type='checkbox'] {
    width: 20px;
    height: 20px;
    transform: scale(1);
    margin-right: 5px;
    vertical-align: middle;
  }

  form .checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
  }

  button[type='submit'] {
    margin-top: 25px;
    padding: 12px 20px;
    background-color: #3498db;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  button[type='submit']:hover {
    background-color: #2980b9;
  }

  @media (max-width: 768px) {
    .edit-closet-container {
      width: 90%;
      padding: 20px;
    }
  }

  /* Additional style for create closet template */
  body {
    background-color: #ecc8af;
  }
</style>

<div class="edit-closet-container">
  <h1>Create A New Closet!</h1>
  <form method="post" action="/createcloset/" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="id_name">Name:</label>
    {{ form.name }}
    <button type="submit">Create</button>
  </form>
</div>
{% endblock %}
