{% extends 'blog/base.html' %}

{% block title %}Inbox{% endblock %}

{% block extra_css %}
<style>
    .messages-container {
        margin-top: 20px;
    }
    .message-link {
        text-decoration: none;
        color: initial;
    }
    .message-item {
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: #f9f9f9; /* Light grey background */
        border-radius: 10px;
        margin-bottom: 20px; /* Space between messages */
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    }
    .message-item:hover {
        background-color: #e9ecef; /* Slightly darker on hover */
    }
    .message-profile-pic {
        width: 60px; /* Adjust based on your preference */
        height: 60px; /* Maintain aspect ratio */
        object-fit: cover; /* Ensure the image covers the area */
        border-radius: 50%; /* Circular image */
        margin-right: 20px; /* Space between image and text */
    }
    .message-info {
        flex-grow: 1;
    }
    .message-details {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    .message-username {
        font-weight: bold;
    }
    .message-timestamp {
        font-size: 0.875rem; /* Smaller text for timestamp */
        color: #6c757d; /* Grey color */
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-6 text-3xl text-center">Inbox</h1>

    <div class="messages-container">
        {% for convos in convo %}
            <a href="{% url 'convo:detailM' convos.id %}" class="message-link">
                <div class="message-item">
                    <img src="{{ convos.user.profile.image.url }}" class="message-profile-pic">
                    <div class="message-info">
                        {% for member in convos.members.all %}
                            {% if member != request.user %}
                                <div class="message-details">
                                    <p class="message-username"><strong>{{ member.username }}</strong></p>
                                    <p class="message-timestamp">{{ convos.modified_at }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
