{% extends 'blog/base.html' %}
{% block content %}
<style>
    .messages-container {
        margin-top: 20px;
    }
    .message-link {
        text-decoration: none;
        color: initial;
    }
    .message-item {
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        margin-bottom: 20px;
        transition: background-color 0.3s ease;
    }
    .message-item:hover {
        background-color: #e9ecef; 
    }
    .message-profile-pic {
        width: 60px;
        height: 60px;
        object-fit: cover; 
        border-radius: 50%;
        margin-right: 20px; 
    }
    .message-info {
        flex-grow: 1;
    }
    .message-details {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    .message-username {
        font-weight: bold;
    }
    .message-timestamp {
        font-size: 0.875rem;
        color: #6c757d;
    }
</style>

<div class="container">
    <h1 class="mb-4 text-3xl text-center">Inbox</h1>
    <div class="messages-container">
        {% for convo in convos %}
            {% for member in convo.members.all %}
                {% if member != request.user %}
                    <a href="{% url 'send-message' member.id %}" class="message-link">
                        <div class="message-item">
                            <img src="{{ member.profile.image.url }}" class="message-profile-pic">
                            <div class="message-info">
                                <p class="message-username">{{ member.username }}</p>
                                <p class="message-timestamp">{{ convo.modified_at|date:"M d, Y P" }}</p>
                            </div>
                            <!-- Add a placeholder for the latest message preview if available -->
                            <p class="message-preview">Latest message preview...</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}