{% extends "blog/base.html" %}
{% block content %}
<style type="text/css">
    /* Begin styles */

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centers the cards vertically */
    }

    .card {
        transition: transform 0.2s;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 300px; /* Adjust the width of the card if necessary */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card:hover {
        transform: translateY(-5px);
    }

    .like-icon {
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }

    .comment-icon {
        width: 25px;
        height: 25px;
        vertical-align: middle;
        margin-left: 5px; /* Add margin between like and comment icons */
    }

    .card img {
        max-width: 100%;
        border-radius: 10px;
    }

    .card-body {
        padding: 15px;
        display: flex; /* Use flex layout */
        flex-direction: column; /* Stack elements vertically */
    }

    .card-content img {
        width: 100%; /* Ensure the image scales to the width of the card */
        height: auto; /* Maintain aspect ratio */
        border-radius: 10px;
    }

    .card-footer {
        margin-top: auto; /* Push the footer to the bottom of the card */
        width: 100%; /* Ensure the footer extends full width of the card */
        display: flex;
        justify-content: space-evenly;
        align-items: left;
    }

    /* End styles */

</style>

<div class="container">
    <div class="card-container">
        {% for post in posts %}
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'user-profile' post.author.username %}">
                        <img class="card-img-top rounded-circle" src="{{ post.author.profile.image.url }}" alt="{{ post.author.username }}" style="height: 60px; width: 60px;">
                    </a>
                    <div>
                        <h5 class="card-title">
                            <a href="{% url 'user-posts' post.author.username %}" class="text-dark">{{ post.author }}</a>
                        </h5>
                        <p class="card-text">{{ post.date_posted | date:"F d, Y" }}</p>
                    </div>
                </div>
                <div class="card-content">
                    {% if post.image.url %}
                    <img class="card-img" src="{{ post.image.url }}" alt="Post Image" style="max-height: 250px; max-width: 100%;">
                    {% endif %}
                    <strong class="card-text">{{ post.content }}</strong>
                </div>
                <div class="card-footer">
                    <form id="like-form-{{ post.id }}" action="{% url 'like_post' post.pk %}" method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                            {% if user in post.likes.all %}
                                <button type="button" onclick="likePost('{{ post.id }}')" class="btn btn-link">
                                    <img src="https://cdn-icons-png.flaticon.com/256/81/81250.png" alt="Unlike button" class="like-icon">
                                </button>
                            {% else %}
                                <button type="button" onclick="likePost('{{ post.id }}')" class="btn btn-link">
                                    <img src="https://cdn-icons-png.flaticon.com/512/126/126473.png" alt="Like button" class="like-icon">
                                </button>
                            {% endif %}
                        {% else %}
                            <small><a href="{% url 'login' %}" class="text-muted">Login to like</a></small>
                        {% endif %}
                        <span class="likes-count" id="likes-count-{{ post.id }}">{{ post.total_likes }} Likes</span>
                    </form>
                    <button type="button" class="btn btn-link" onclick="location.href='{% url 'add_comment' post.id %}';">
                        <img src="media/chat.png" alt="Comment icon" class="comment-icon">
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Pagination goes here -->
</div>

<script>
    function likePost(postId) {
        var form = document.getElementById('like-form-' + postId);
        var likesCount = document.getElementById('likes-count-' + postId);
        var likeButton = form.querySelector('button[type="button"]');

        var xhr = new XMLHttpRequest();
        xhr.open('POST', form.action, true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                if (response.liked) {
                    likeButton.innerHTML = '<img src="https://cdn-icons-png.flaticon.com/256/81/81250.png" alt="Unlike button" class="like-icon">';
                } else {
                    likeButton.innerHTML = '<img src="https://cdn-icons-png.flaticon.com/512/126/126473.png" alt="Like button" class="like-icon">';
                }
                likesCount.innerHTML = response.total_likes + ' Likes';
            }
        };
        xhr.send('post_id=' + postId + '&csrfmiddlewaretoken={{ csrf_token }}');
    }

    function unlikePost(postId) {
        var form = document.getElementById('like-form-' + postId);
        var likesCount = document.getElementById('likes-count-' + postId);
        var likeButton = form.querySelector('button[type="button"]');

        var xhr = new XMLHttpRequest();
        xhr.open('POST', form.action, true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                if (!response.liked) {
                    likeButton.innerHTML = '<img src="https://cdn-icons-png.flaticon.com/512/126/126473.png" alt="Like button" class="like-icon">';
                }
                likesCount.innerHTML = response.total_likes + ' Likes';
            }
        };
        xhr.send('post_id=' + postId + '&csrfmiddlewaretoken={{ csrf_token }}');
    }
</script>

{% endblock content %}
