{% extends "blog/base.html" %}
{% block content %}
<style>
    h1 {
        text-align: center;
        margin-bottom: 25px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0;
        margin-top: 0;
        list-style: none;
    }

    .images {
        margin: 10px;
    }

    .button-wrapper {
        text-align: center;
        margin: 10px;
    }

    .delete, .edit {
        background: none;
        border: 2px solid;
        color: black;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .delete {
        border-color: #f44336;
    }

    .delete:hover {
        background-color: #f44336;
        color: white;
    }

    .edit {
        border-color: #3498db; /* Adjust color as desired */
    }

    .edit:hover {
        background-color: #3498db; /* Adjust color as desired */
        color: white;
    }

    .closetnames {
        text-align: center;
    }
</style>

<h1>{{ username }}'s Closets</h1>

<div class="container">
    {% for closet in closets %}
    <li class="images">
        <a href="/myclosets/{{ closet.id }}/">
            <img src="/media/closet.png" width="200" height="200">
        </a>
        <div class="button-wrapper">
            <h3 class="closetnames">{{ closet.name }}</h3>
            <a href="/myclosets/{{ closet.id }}/delete/">
                <button class="delete">Delete</button>
            </a>
            <a href="/myclosets/{{ closet.id }}/edit/">
                <button class="edit">Edit</button> <!-- Added edit button -->
            </a>
        </div>
    </li>
    {% endfor %}
    <a href="/createcloset/">
        <img src="/media/plus.png" width="200" height="200">
    </a>
</div>
{% endblock %}
