{% extends "blog/base.html" %}
{% block content %}
<style type="text/css">
    .header {
        text-align: center;
    }

    .card-title {
        text-align: center;
    }

    .card {
        transition: transform 0.3s ease; /* Smooth transition on hover */
    }

    .card:hover {
        transform: translateY(-5px); /* Move card up slightly on hover */
    }
</style>

<div class="header">
    {% if empty %}
        <h1>{{ username }}'s Closet: {{ title }}</h1>
        <p>(This Closet Is Empty!)</p>
    {% else %}
        <h1>{{ username }}'s Closet: {{ title }}</h1>
    {% endif %}
</div>

<!-- Clothes List -->
<div class="row mt-4">
    {% for item in closetClothes %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ item.image.url }}" class="card-img-top img-fluid" style="height: 350px;" alt="Clothing Image">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">Category: {{ item.category }}</p>
                <p class="card-text">Style: {{ item.style }}</p>
                <p class="card-text">Color: {{ item.color }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}