{% extends "blog/base.html" %}
{% block content %}
<style>
h1{
	text-align: center;
	margin-bottom: 25;
}

p{
	text-align: center;
	margin-bottom: 25;
}

.button{
	width: 300;
	float: left;
	background: none;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 10px;
  	margin-left: 0px;
  	transition-duration: 0.4s;
  	cursor: pointer;
}
</style>

{% if empty %}
	<h1>{{ username }}'s Closet: {{ title }}</h1>
	<p>(This Closet Is Empty!)</p>
{% else %}
	<h1>{{ username }}'s Closet: {{ title }}</h1>
{% endif %}

<ul>
	{% for item in closetClothes %}
		<div class="container2">
			<div class="image">
				<img src=" {{ item.image.url }}">
			</div>
			<div class="text">
				<big style="font-size:40px; font-weight:bold; color:#ce796b;">
					{{ item.name }}
				</big><br>
		<pre class="tab">category:	{{ item.category }}</pre>
		<pre class="tab4">style:	{{ item.style }}</pre>
		<pre class="tab4">color:	{{ item.color }}</pre>
			</div>
		</div>
		<hr>
	{% endfor %}
</ul>
{% endblock %}
