{% extends 'blog/base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mt-4 mb-4">Search Results</h1>
            {% for user in users %}
            <div class="card mb-4">
                <div class="card-body">
                    <div class="media">
						<a href="{% url 'profile' %}">
                        <img class="rounded-circle mr-3" src="{{ user.profile.image.url }}" alt="{{ user.username }}" style="width: 50px; height: 50px;">
                        </a>
						<div class="media-body">
                            <h2 class="mt-0">
                                <a href="{% url 'user-posts' user.username %}" class="text-dark">{{ user.username }}</a>
                            </h2>
                            <!-- Button for sending a message -->
                            <!-- Ensure you have a URL named 'send-message' that accepts a username as an argument -->
                            <a href="{% url 'send-message' user.id %}" class="btn btn-primary">Message</a>
							<a href="{% url 'user-posts' user.username %}" class="btn btn-primary">View Posts</a>
							<a href="{% url 'user-closets' user.username %}" class="btn btn-primary">View Cozy Closet</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No users found.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
