{% extends "blog/base.html" %}
{% block content %}
<style type="text/css">
    .card {
        transition: transform 0.3s ease; /* transition on hover */
        background-color: #333333;
    }
    .card:hover {
        transform: translateY(-5px); /* Move card up slightly on hover */
    }

    .card-title {
        text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
        color: white;
    }

    .card-text {
        color: white;
    }

    .category-title {
        font-size: 24px; 
        color: #f0f0f0; 
        text-transform: uppercase; 
        background-color: #444444;
        padding: 10px 0;
        margin-top: 30px; 
        border-top: 3px solid #666666;
        text-align: center;
        width: 100%; 
        box-shadow: 0px 2px 5px rgba(0,0,0,0.5); 
    }

    /* Additional styles for filter labels */
    .filter-label {
        font-weight: bold; /* Makes the text bold */
        color: #337ab7; /* Adjust the color to match the filter button or your preference */
    }

    /* Adjusted button styling to match the filter button */
    .upload-button {
        border-radius: 4px;
        background-color: #337ab7; /* Bootstrap primary button color */
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 20px;
        padding: 10px 20px;
        cursor: pointer;
        margin: 5px;
        transition: all 0.5s;
        position: relative;
        overflow: hidden;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2); /* Subtle shadow for depth */
    }

    .upload-button span {
        font-weight: bold; /* Bold text for better readability */
        transition: 0.5s;
    }

    .upload-button:hover {
        background-color: #286090; /* Darker shade for hover state */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Enhanced shadow for hover state */
    }

    /* Hover effect for the button's arrow */
    .upload-button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .upload-button:hover span {
        padding-right: 25px;
    }

    .upload-button:hover span:after {
        opacity: 1;
        right: 10px;
    }
</style>

<div class="container">
    {% if empty %}
        <p class="text-center">You haven't uploaded any clothes yet.</p>
    {% endif %}  

    <!-- Filter Form and Upload Button -->
    <div class="d-flex justify-content-between align-items-end">
        <form action="" method="GET" class="filter-form" onsubmit="saveFilterOptions()">
            <div class="row">
                <div class="col-md-4">
                    <label for="category" class="filter-label">Category:</label>
                    <select id="category" name="category" class="form-control">
                        <option value="">All</option>
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="style" class="filter-label">Style:</label>
                    <select id="style" name="style" class="form-control">
                        <option value="">All</option>
                        {% for style in styles %}
                            <option value="{{ style }}">{{ style }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="color" class="filter-label">Color:</label>
                    <select id="color" name="color" class="form-control">
                        <option value="">All</option>
                        {% for color in colors %}
                            <option value="{{ color }}">{{ color }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Filter</button>
        </form>

        <!-- Upload Button -->
        <button class="upload-button" onclick="location.href='{% url 'upload' %}'">
            <span>Upload Item </span>
        </button>
    </div>
    <!-- Clothes List -->
    <div class="row mt-4">
        {% for item in filteredItems %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ item.image.url }}" class="card-img-top img-fluid" style="height: 350px;" alt="Clothing Image"> <!-- Set height to 350px -->
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">{{ item.name }}</h5>
                    <p class="card-text">Category: {{ item.category }}</p>
                    <p class="card-text">Style: {{ item.style }}</p>
                    <p class="card-text">Color: {{ item.color }}</p>
                    <div class="btn-group" role="group">
                        <a href="/delete/{{ item.id }}/" class="btn btn-danger">Delete</a>
                        <a href="/clothes/{{ item.id }}/addtocloset/" class="btn btn-success">Add To Closet</a>
                        <a href="/clothes/{{ item.id }}/addtopost/" class="btn btn-info">Share</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
<script>
    // Function to save filtering options to local storage
    function saveFilterOptions() {
        var category = document.getElementById('category').value;
        var style = document.getElementById('style').value;
        var color = document.getElementById('color').value;

        localStorage.setItem('category', category);
        localStorage.setItem('style', style);
        localStorage.setItem('color', color);
    }

    function setFilterOptions() {
        var category = localStorage.getItem('category') || ""; // Default to "" if null
        var style = localStorage.getItem('style') || ""; // Default to "" if null
        var color = localStorage.getItem('color') || ""; // Default to "" if null

        document.getElementById('category').value = category;
        document.getElementById('style').value = style;
        document.getElementById('color').value = color;

        // Ensure the default "All" is selected if the values are still empty
        if (!document.getElementById('category').value) {
            document.getElementById('category').selectedIndex = 0;
        }
        if (!document.getElementById('style').value) {
        document.getElementById('style').selectedIndex = 0;
        }
        if (!document.getElementById('color').value) {
           document.getElementById('color').selectedIndex = 0;
        }
    }

    window.onload = function() {
        setFilterOptions();
    };
</script>
{% endblock %}
