{% extends "blog/base.html" %}
{% block content %}
<!-- Bootstrap Bundle with Popper (includes Bootstrap's JavaScript) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style type="text/css">
    .card {
        transition: transform 0.3s ease; /* transition on hover */
        background-color: #333333;
    }
    .card:hover {
        transform: translateY(-5px); /* Move card up slightly on hover */
    }

    .card-title {
        text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
        color: white;
    }

    .card-text {
        color: white;
    }

    .category-title {
        font-size: 24px; 
        color: #f0f0f0; 
        text-transform: uppercase; 
        background-color: #444444;
        padding: 10px 0;
        margin-top: 30px; 
        border-top: 3px solid #666666;
        text-align: center;
        width: 100%; 
        box-shadow: 0px 2px 5px rgba(0,0,0,0.5); 
    }

    /* Additional styles for filter labels */
    .filter-label {
        font-weight: bold; /* Makes the text bold */
        color: #337ab7; /* Adjust the color to match the filter button or your preference */
    }

    /* Adjusted button styling to match the filter button */
    .upload-button {
        border-radius: 4px;
        background-color: #337ab7; /* Bootstrap primary button color */
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 20px;
        padding: 10px 20px;
        cursor: pointer;
        margin: 5px;
        transition: all 0.5s;
        position: relative;
        overflow: hidden;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2); /* Subtle shadow for depth */
    }

    .upload-button span {
        font-weight: bold; /* Bold text for better readability */
        transition: 0.5s;
    }

    .upload-button:hover {
        background-color: #286090; /* Darker shade for hover state */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Enhanced shadow for hover state */
    }

    /* Hover effect for the button's arrow */
    .upload-button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .upload-button:hover span {
        padding-right: 25px;
    }

    .upload-button:hover span:after {
        opacity: 1;
        right: 10px;
    }

    /* Modal Styling to Match 'Your Closets' Page */
    .modal-content {
        border: 2px solid #3498db; /* Blue border to match the 'edit' button style */
        background-color: #fff; /* White background */
    }

    .modal-header, .modal-footer {
        background-color: #f8f9fa; /* Light gray background */
        border-color: #dee2e6; /* Light gray border */
    }

    .modal-title {
        color: #333; /* Dark gray text */
    }

    .btn-primary {
        background-color: #3498db; /* Blue background for primary buttons */
        border-color: #3498db;
    }

    .btn-primary:hover {
        background-color: #217dbb; /* Darker blue on hover */
        border-color: #1f7ca8;
    }

    .btn-secondary {
        background-color: #6c757d; /* Default secondary button color */
        border-color: #6c757d;
    }

    .btn-secondary:hover {
        background-color: #565e64; /* Darker grey on hover */
        border-color: #4e555b;
    }

    .form-label {
        color: #495057; /* Dark grey for text labels */
    }

    .form-control {
        border: 1px solid #ced4da; /* Standard input border */
        color: #495057; /* Input text color */
    }

    textarea.form-control {
        height: auto; /* Override default text area height if necessary */
    }
</style>
<div class="container">
    <div id="successMessage" class="alert alert-success" style="display:none;">
        Item deleted successfully!
    </div>
    {% if empty %}
        <p class="text-center">You haven't uploaded any clothes yet.</p>
    {% endif %}  

    <!-- Filter Form and Upload Button -->
    <div class="d-flex justify-content-between align-items-end">
        <form action="" method="GET" class="filter-form" onsubmit="saveFilterOptions()">
            <div class="row">
                <div class="col-md-4">
                    <label for="category" class="filter-label">Category:</label>
                    <select id="category" name="category" class="form-control">
                        <option value="">All</option>
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="style" class="filter-label">Style:</label>
                    <select id="style" name="style" class="form-control">
                        <option value="">All</option>
                        {% for style in styles %}
                            <option value="{{ style }}">{{ style }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="color" class="filter-label">Color:</label>
                    <select id="color" name="color" class="form-control">
                        <option value="">All</option>
                        {% for color in colors %}
                            <option value="{{ color }}">{{ color }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Filter</button>
        </form>

        <!-- Upload Button -->
        <button class="upload-button" onclick="location.href='{% url 'upload' %}'">
            <span>Upload Item </span>
        </button>
    </div>
    <!-- Clothes List -->
    <div class="row mt-4">
        {% for item in filteredItems %}
        <div class="col-md-4 mb-4">
            <div class="card h-100" id="itemCard-{{ item.id }}">
                <img src="{{ item.image.url }}" class="card-img-top img-fluid" style="height: 350px;" alt="{{ item.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">Category: {{ item.category }}</p>
                    <p class="card-text">Style: {{ item.style }}</p>
                    <p class="card-text">Color: {{ item.color }}</p>
                    <div class="btn-group" role="group">
                        <button onclick="deleteItem('{{ item.id }}')" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addToClosetModal" data-itemid="{{ item.id }}">Add To Closet</button>
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#shareModal" data-itemid="{{ item.id }}">Share</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

<!-- Add to Closet Modal -->
<div class="modal fade" id="addToClosetModal" tabindex="-1" role="dialog" aria-labelledby="addToClosetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal content will be loaded dynamically -->
        </div>
    </div>
</div>

<!-- Share Item Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal content will be loaded here by the JavaScript below -->
        </div>
    </div>
</div>
<script>
    function deleteItem(itemId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/clothes/delete/' + itemId + '/',
                    type: 'GET',
                    success: function(result) {
                        $('#itemCard-' + itemId).fadeOut(500, function() { $(this).remove(); });
                    },
                    error: function() {
                        Swal.fire(
                            'Failed!',
                            'There was an error deleting the item.',
                            'error'
                        );
                    }
                });
            }
        });
    }

    $(document).ready(function() {
        $('#shareModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var itemId = button.data('itemid'); // Extract info from data-* attributes (assuming data-itemid holds the ID)
            var modal = $(this);

            // Fetch and load the form for the selected item
            $.ajax({
                url: `/clothes/${itemId}/addtopost`,  // Update URL to match your URL for fetching the form
                success: function(data) {
                    modal.find('.modal-content').html(data);
                }
            });
        });

        $(document).on('submit', '#shareItemForm', function (event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    if(response.success) {
                        // Redirect to the URL provided in the success response
                        window.location.href = response.redirect_url;
                    } else {
                        alert('Error sharing item.'); // Handle errors
                    }
                },
                error: function () {
                    alert('Error sharing item.'); // Handle errors
                }
            });
        });
    });

    $(document).ready(function() {
        // Event handler for showing the 'Add to Closet' modal
        $('#addToClosetModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var itemId = button.data('itemid'); // Extract info from data-* attributes
            var modal = $(this);

            // Fetch and load the form for adding the item to the closet
            $.ajax({
                url: `/clothes/${itemId}/addtocloset/`,
                success: function(data) {
                    modal.find('.modal-content').html(data);
                }
            });
        });
    });
</script>
{% endblock %}