{% extends "blog/base.html" %}
{% block content %}
<h1>{{ username }}'s Closet!</h1>
<ul>
	{% for item in userClothes %}
		<div class="container2">
		<div class="image">
			<img src=" {{ item.image.url }}">
		</div>
			<div class="text">
				<big style="font-size:40px; font-weight:bold; color:#ce796b;">
					{{ item.name }}
				</big><br>
		<pre class="tab">category:	{{ item.category }}</pre>
		<pre class="tab4">style:	{{ item.style }}</pre>
		<pre class="tab4">color:	{{ item.color }}</pre>
			</div>
		<br>
		<a style="float:center; margin:20px; color: red;" href="/closet/{{item.name}}/delete/" class="btn btn-outline-info" >Delete</a>
		<br>
		</div>
		<hr>
	{% empty %}
		<big style="font-size:40px; font-weight:bold; color:#ce796b;">
        Your Closet Is Empty!
    </big>
	{% endfor %}
</ul>
{% endblock %}
